<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.way.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.way.common.pojos.system.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="del_state" jdbcType="INTEGER" property="delState" />
  </resultMap>
  <resultMap id="RoleDtoMap" type="com.way.common.pojos.system.dto.RoleDTO">
		<id column="role_id" property="roleId" />
		<result column="role_name" property="roleName" />
		<result column="role_code" property="roleCode" />
		<result column="role_desc" property="roleDesc" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="del_state" property="delState" />
		<result column="dept_id" property="roleDeptId"/>
		<result column="name" property="deptName"/>
	</resultMap>

	<select id="selectRolePage" resultMap="RoleDtoMap">
		SELECT
			*
		FROM
			t_sys_role r
		LEFT JOIN t_sys_role_dept rd ON rd.role_id = r.role_id
		LEFT JOIN t_sys_dept d ON rd.dept_id = d.dept_id
		WHERE r.del_state = 0
        <if test="roleName != null and roleName != ''">
            and instr(r.role_name, #{roleName}) > 0
        </if>
		ORDER BY r.role_id ASC
	</select>
	<select id="selectListByDeptId" resultMap="BaseResultMap">
		SELECT
			r.role_id,
			r.role_name,
			r.role_code,
			r.role_desc,
			r.create_time,
			r.update_time,
			r.del_flag
		FROM t_sys_role r LEFT OUTER JOIN t_sys_role_dept rd ON rd.role_id = r.role_id
		WHERE rd.dept_id = #{deptId}
	</select>
  
</mapper>