<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.way.dao.SysResourcesMapper">
	<resultMap id="BaseResultMap"
		type="com.way.common.pojos.system.SysResources">
		<!-- WARNING - @mbg.generated -->
		<id column="resource_id" jdbcType="INTEGER" property="resourceId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="permission" jdbcType="VARCHAR"	property="permission" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="method" jdbcType="VARCHAR" property="method" />
		<result column="parent_id" jdbcType="INTEGER"	property="parentId" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="component" jdbcType="VARCHAR"	property="component" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="create_time" jdbcType="TIMESTAMP"	property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP"	property="modifyTime" />
		<result column="create_by" jdbcType="VARCHAR"	property="createBy" />
		<result column="modify_by" jdbcType="VARCHAR"	property="modifyBy" />
		<result column="del_state" jdbcType="INTEGER"	property="delState" />
	</resultMap>
	<select id="selectRoleResourcesList" resultMap="BaseResultMap" parameterType="int">
		SELECT
			sres.* 
		FROM
			t_sys_role srole
			LEFT JOIN t_sys_role_resources srr ON srr.role_id = srole.role_id
			LEFT JOIN t_sys_resources sres ON sres.resource_id = srr.resources_id 
		WHERE
			srole.del_state = 0 
			AND sres.del_state = 0 
			AND srole.role_id =#{roleId}
			ORDER BY sres.sort DESC
	</select>
	<select id="selectList" resultMap="BaseResultMap" parameterType="map">
	 SELECT
			sres.* 
		FROM
			t_sys_resources sres 
		WHERE
			sres.del_state = 0 
			ORDER BY sres.sort DESC
	</select>
</mapper>