<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.way.dao.SavemsgMapper">
  <resultMap id="BaseResultMap" type="com.way.common.pojos.Savemsg">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="sendid" jdbcType="INTEGER" property="sendid" />
    <result column="getid" jdbcType="INTEGER" property="getid" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="trantype" jdbcType="TINYINT" property="trantype" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="resulttype" jdbcType="TINYINT" property="resulttype" />
    <result column="messagetype" jdbcType="TINYINT" property="messagetype" />
    <result column="sendname" jdbcType="VARCHAR" property="sendname" />
  </resultMap>
</mapper>